.appointment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.appointment-container h2 {
    font-size: 34px;
    letter-spacing: 2px;
    font-family: 'karla';
}

.select-styler_appointment {
    width: 200px;
    height: 40px;
    padding: 10px;
    font-family: 'karla';
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 1px;
    background-color: white;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    gap: 20px;
}

#booked {
    background-color: red;
}

.appointment-container h4 {
    font-size: 30px;
    font-family: 'karla';
    opacity: 0.8;
    border-bottom: 2px solid black;
}

.time>div>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    font-family: 'karla';
    cursor: pointer;
    width: 100%;
    height: 100%;
}



.time>div>button:hover {
    background-color: black;
    color: white;
}

.time {
    text-align: center;
    width: 40%;
}

.time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.services-button_container>button::selection {
    background-color: red;
}