.edit-add-styler-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(112, 112, 112, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: visible;
    height: 100%;
    z-index: 2;
}

.edit-styler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 40px;
    background-color: white;
}

.edit-styler-container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.edit-styler-container>span:nth-of-type(1)>input {
    font-family: 'karla';
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
    margin-top: 10px;
}

.edit-button {
    color: black;
}


#edit-top_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#edit-top_part>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

#edit-top_part>div>:where(input, select) {
    width: 100%;
    height: 30px;
}

.edit-styler-container>div>textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.edit-styler-container>span>button {
    cursor: pointer;
    background-color: transparent;
    height: 30px;
    border: 1px solid black;
    margin-left: 5px;
    width: 120px;
}

/*
    design for the cancel button
*/

.cancel-edit_button {
    width: 200px;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'karla';
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

.edit-styler-container button:hover {
    background-color: black;
    color: white;
}

/*
    Media Quories
*/
@media (min-height:700px) {
    .edit-styler-container {
        gap: 20px;
    }


}

@media (min-width:700px) {
    #edit-top_part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #edit-top_part>div>:where(input, select) {
        width: 100%;
    }
}